<div class="center" >
	<h1>Secrets</h1>

	<div class="center jumbotron">
		<% @posts.each do |post| %>
			<div class="post">
				<ul>
					<li><%= post.story %>
					|<% if logged_in? %>
						<%= link_to post.user.name, post.user %>
					<% end %>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
</div>
