<div class="center" >
	<h1>Secrets</h1>

	<div class="center jumbotron">
		<% @posts.each do |secret| %>
			<div class="post">
				<ul>
					<li><%= secret.story %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>
