<div class="center">
	<h1>New Post</h1>

	<%= form_for(@post) do |f| %>
		
		<p><%= f.label :story, "Write your secret here:" %></p>
		<p><%= f.text_field :story %></p>
		<br>
		<p><%= f.submit "Post secret", class: "btn btn-lg" %></p>
			
	<% end %>
</div>

